body {
  text-align: center;
  background-color: #FFE4B5;
}

#main-page-body {
  background-image: url('./components/images/books1.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.main-page-top {
  background-color: #FFE4B5;
  opacity: 0.9;
  margin-bottom: 30px;
}

.main-links-div {
  margin-bottom: 30px;
}

.main-book-image {
  margin-top: 40px;
}

.btn {
  border-radius: 10px;
}

.main-header-div {
  margin-top: 30px;
}

.category-list-header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.category-table-div {
  display: flex;
  justify-content: center;
}

.category-table {
  width: 400px;
  /* margin-left: 40%; */
}

.new-category-form-header {
  margin-bottom: 40px;
}

.new-category-form-div {
  display: flex;
  justify-content: center;
}

.new-category-form {
  width: 400px;
}

.edit-category-form-div {
  display: flex;
  justify-content: center;
}

.edit-category-form {
  width: 400px;
}

.category-list-link {
  margin-bottom: 40px;
  margin-right: 40px;
}

.edit-category-button {
  border-radius: 10px;
}

.add-category-button {
  margin-top: 50px;
  /* border-radius: 10px; */
}

.delete-category-button-div {
  margin-top: 50px;
}

.delete-category-button {
  /* background-color: red; */
  margin-left: 30px;
  border-radius: 10px;
}

.book-title-header {
  margin-top: 40px;
}

.new-book-form-header {
  margin-bottom: 40px;
}

.new-book-form-div {
  display: flex;
  justify-content: center;
}

.new-book-form {
  width: 500px;
}

.add-book-link {
  margin-top: 75px;
}

.add-new-book-button {
  border-radius: 10px;
}

.delete-book-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.edit-book-form-div {
  display: flex;
  justify-content: center;
}

.edit-book-form {
  width: 400px;
}

.new-book-form-header {
  margin-bottom: 40px;
}

.single-book-table-div {
  display: flex;
  justify-content: center;
}

.single-book-table {
  width: 1000px;
}

.edit-book-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.delete-book-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.member-list-link {
  margin-bottom: 40px;
}

.back-to-member-list-div {
  margin-bottom: 30px;
}

.new-member-form-div {
  display: flex;
  justify-content: center;
}

.new-member-form {
  width: 500px;
}

.single-member-table-div {
  display: flex;
  justify-content: center;
}

.single-member-table {
  width: 1000px;
}

.edit-member-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.edit-member-form-div {
  display: flex;
  justify-content: center;
}

.edit-member-form {
  width: 400px;
}

.delete-member-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.submit {
  border-radius: 10px;
}

.isbn-search-form-div {
  display: flex;
  justify-content: center;
}

.isbn-search-form {
  width: 300px;
}

.bib-key-td {
  width: 600px;
}

.book-image {
  margin-top: 30px;
}






/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
